/* reset css */
* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
}
/**/

html {
    font-family: 'Red Hat Display';
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* Estulização padrão do front-end-mentor*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }